<% provide(:title, 'Home') %>

<h1>Facebook Advertising Product Guide</h1>
<p>
  You can find more information
  <a href="http://facebook.com/advertising">here</a>.
</p>

<a href="#" id="alert">Click Here</a>

<div class="center hero-unit">
  <h2>
    
  </h2>

</div>

